<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gropherapp.gropher.com.gropherapp">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:name=".utils.GlobalClass"
        android:theme="@style/MyTheme">
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Signup"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LoginScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".DrawerActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.PlaceOrder"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.OtpScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.TrackOrderScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.RecentOrderDetailScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.MapScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.Forget_Password"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.Reset_Password"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ProfileScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.TermsNCondition"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.PayMoreMoney"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.RatingScreen"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name=".activity.ConfirmationActivity"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY"/>


    </application>

</manifest>